body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.95em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100px;
  position: relative;
  margin-top: 3px;
  background-color: white;
  display: block;
}

.mySlides img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
/*
  ========================================
  Links
  ========================================
*/

a {
  color: #CEC0EB;
  font-weight: 600;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}

.container-two a{
  color: #8158DB;
}
/** home **/
#home {
  height: 50vh;
  width: 100%;
  margin-top: 10px;
  display: block;
  background-color: white;

}

#home h1 {
  font-family: 'Lato';
  font-weight: 900;
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  color: black;
  background-color: white;

}

#home h3 {
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  color: black;
  background-color: white;

}

#home h5 {
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  margin-right: 10%;
  margin-left: 10%;
  color: black;
  margin-bottom: 20px;


}

/** clips **/

#clips:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
    margin-left: 10%;
  background: #C1AEEB;

  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: -1;
}
#clips {
  color: white;
  padding-right:2%; 
  padding-left:5%; 
  width: 25%;

  height: 16vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

 /** clips tabs **/

#box1 {
  width: 25%;
  height: 16vh;
  margin-left: 10%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#box2 {
  width: 25%;
  height: 16vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#box3 {
  width: 25%;
  height: 16vh;
  margin-right: 10%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#box1 h1{
  font-size: 20px;
  margin-left: 10px;
  padding: 4px;
  color: white;
  background-color: #D3C7ED;} 
  /**
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
}**/


#box2 h1{
  font-size: 20px;
  margin-left: 10px;
  padding: 4px;
  color: white;
  background-color: #D3C7ED;} /**
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
} **/

#box3 h1{
  font-size: 20px;
  margin-left: 10px;
  padding: 4px;
  color: white;
  background-color: #D3C7ED;} /**
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
}**/
.clips-info {
  background: #C1AEEB;
  width: 100%;
  padding-top: 5px;
}
.main-container {
   font-size: 13px;
   width: 100%;
}

.main-container h1 {
   font-family: 'Lato', sans-serif;
   font-size: 25px;
   display: block;
   color: white;
   text-align: center;
   font-weight: 300;
   padding-left: 10%;
   padding-right: 10%;
}
.container-two {
   position: relative;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   display: inline-block;
   padding-bottom: 50px;
   padding-left: 15px;
   padding-right: 5px;
   text-align: center;
   width: 30%;
}

.writing-main {
  margin-left: 15%;
  font-size:15px;
  font-weight: 100px;
  color: white;
  padding-bottom: 10px;
}

.writing-main a {
  color: white;
}

/** writing pages **/
.written {
  text-align: center;

}
.article {
  text-align: left;
  margin-right: 20%;
  margin-left: 17%;
  font-family: 'Lato', sans-serif;
  border-left-style: solid;
  border-left-color: #C1AEEB;
  border-left-width: 6px;
  padding-left: 16px;


}

.article-photo {
  width: 100%;
  height: 30%;
}

#story1 {
  float: right ;
  width: 23% ;
  margin-right: 4%;
  margin-left:5%;
  border-left-style: solid;
  border-left-color: #C1AEEB;
  border-left-width: 4px;
  padding-left: 2%;
}
#story2 {
  float: right;
  width: 57%;
  margin-left: 3%
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** resume **/
#resume:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 120%; height: 100%;
  background: #A081E6;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: -1;
}
#resume {
  color: white;
  padding-right:5%; 
  padding-left:3%;
  width: 25%;
  height: 16vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.resume-info {
  background: #A081E6;
  width: 100%;
  padding-top: 5px;
}

/** contact **/
#contact:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin-right: 10%;
  background: #8158DB;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: -1;
}
#contact {
  color: white;
  padding-right:5%; 
  padding-left:2%;
  width: 25%;
  height: 16vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.contact-info {
  background: #8158DB;
  width: 100%;
  padding-top: 5px;
}

#contact-icons {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 25px;
  color: white;
  font-weight: 300;

}

#contact-icons img {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

@media screen and (min-width: 436px) and (max-width: 613px) {
  #contact-icons {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 357px) and (max-width: 435px) {
  #contact-icons {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 315px) and (max-width: 356px) {
  #contact-icons {
    width: 70%;
    margin: 0 auto;
  }
}

/** style things **/

.vert {
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    width: 90%;
      background-color: white;

}


.resume-info, .contact-info, .clips-info {
  display: none;
}

.hello {
  font-size: 60px;
  font-weight: 600;
  margin: 0; 
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.tab {
  font-weight: 600;
  margin: 0; 
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/** media queries for gen layout **/
@media screen and (max-width: 975px) {
  .container-two {
   display: block;
   padding-bottom: 10px;
   padding-left: 15%;
   margin-left: 10px;
   padding-right: 10%;
   text-align: left;
   width: 50%;
  }
  .container-two h4 {
    display: none;
  }


}

@media screen and (max-width: 850px) {
  #home h1 {
    font-size: 80px;
  }
  #home h3 {
    font-size: 40px;
  }
  #home h5 {
    font-size: 17px;
  }  
  .hello {
    font-size: 50px;
  }

}
@media screen and (max-width: 875px) {
  #video {
    display: none;
  }
}
@media screen and (max-width: 675px) {
  #home h1 {
    font-size: 60px;
  }
  #home h3 {
    font-size: 30px;
  }
  #home h5 {
    font-size: 15px;
  }
  .hello {
    font-size: 40px;
  }
  #box3 h1, #box2 h1, #box1 h1{
    font-size: 18px
  }
  .main-container h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 478px) {
  #home h1 {
    font-size: 20px;
  }
  #home h3 {
    font-size: 15px;
  }
  #home h5 {
    font-size: 12px;
  }
  .hello {
    font-size: 25px;
  }
  #box3 h1, #box2 h1, #box1 h1{
    font-size: 13px
  }
  .main-container h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  #home h1 {
    font-size: 25px;
  }
  .vert {
    margin-top: 10%;
  }
  .slideshow-container {
    display: none;
  }
  #contact-icons {
    font-size: 20px;
  }
}

@media screen and (max-height: 450px) {
  #home, .slideshow-container, .vert {
    display: none;
  }
  #clips {
    height: 25vh;
  }
  #resume {
    height: 25vh;
  }
  #contact {
    height: 25vh;
  }
}

