h1 {
	color:#CCB2FF;
	font-size: 56px;
	font-style: bold;
	text-align: center;
	font-family: Trebuchet MS;
}
body {
	background-color: white;
}
div {
	text-align: center;
}
.subtitle {
	font-family: Trebuchet MS;
	font-size: 34px;
	text-align: center;
	margin-top: -20px;
}
.sections {
	text-align: center;
	font-family: serif;
	display: block;
	margin-bottom: 2%;
	font-size: 15px;

}
.me {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: lighter;
	margin-left:80px;
	margin-right:80px;
}
.me a {
	color:#CCB2FF;
}
.sections a {
	color: black;
	border-bottom: 3px double;
}

.sections a:hover {
	color: #666666;

}
a:link {
	text-decoration: none;
}
.social {
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
}
   
