h1 {
	color:blue;
	font-size: 56px;
	font-style: bold;
	text-align: center;
	font-family: verdana;
}
body {
	background-color: #FFFFF0;
}
.tabs {
	color: purple;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background-color: #99CCFF;
	display: inline-block;
	margin: 0px 5px;
	float: left;
	list-style: none;
}

