h1 {
	color:blue;
	font-size: 56px;
	font-style: bold;
	text-align: center;
	font-family: verdana;
}
body {
	background-color: #FFFFF0;
}
div {
	text-align: center;
}
.info {
	margin-top: 10px;
	font-family: verdana;
	font-size: 34px;
	text-align: center;
}
.sections {
	text-align: center;
	font-family: Roboto Slab, serif;
	display: block;
	margin-bottom: 2%;
}

.sections a {
	color: black;
	border-bottom: 3px inset;
}

.sections a:hover {
	color: #666666;

}
 
   
